<div class="jumbotron">
    <h1>ASP.NET Web API</h1>
    <p class="lead">This is a simple Web API setup to deliver JSON objects to anyone who calls it.</p>    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Simply call the URL with ~/api/ to retreive initial data.</p>
    </div>
</div>
